<footer class="main-footer">
    <div class="footer-links">
        <a href="https://github.com/Diegogonzalezm2022/Sportsync">Link GitHub</a>
        <a href="https://www.figma.com/design/...">Link Figma</a>
        <a href="Index.html">Home</a>
        <a href="AboutUs.html">About Us</a>
    </div>

    <div class="footer-logo">
        <strong>Logo</strong>
    </div>

    <div class="footer-contact">
        <a href="mailto:...">Link Email</a>
        <a href="https://wa.me/...">Link Phone</a>
        <div class="team-link">
            <a href="OurTeam.html">Our Team</a>
        </div>
    </div>
</footer>