<footer class="main-footer">
    <div class="footer-links">
        <a href="https://github.com/Diegogonzalezm2022/Sportsync">Link GitHub</a>
        <a href="https://www.figma.com/design/932AGbsgEWwMm1Z0YmgsVN/PS_Grupo10?node-id=0-1&p=f&t=RlHP7owjLDxtFvn9-0">Link Figma</a>
        <a href="Index.html">Inicio</a>
        <a href="AboutUs.html">Sobre Nosotros</a>
    </div>

    <div class="footer-logo">
        <img src="../assets/imagenes/logo_SportSync.png" alt="">
    </div>

    <div class="footer-contact">
        <a href="mailto:...">Link Email</a>
        <a href="https://wa.me/...">Link Teléfono</a>
        <div class="team-link">
            <a href="OurTeam.html">Nuestro Equipo</a>
        </div>
    </div>
</footer>