<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="../../css/components/Footer.css">
</head>
<body>

<footer class="main-footer">
    <div class="footer-links">
        <a href="https://github.com/Diegogonzalezm2022/Sportsync">Link GitHub</a>
        <a href="https://www.figma.com/design/932AGbsgEWwMm1Z0YmgsVN/PS_Grupo10?node-id=0-1&p=f&t=l3bNIiRxuAhtjPYc-0">Link Figma</a>
        <a href="http://localhost:63342/Sportsync/src/html/Index.html">Home</a>
        <a href="http://localhost:63342/Sportsync/src/html/AboutUs.html">About Us</a>
    </div>

    <div class="footer-logo">
        <strong>Logo</strong>
    </div>

    <div class="footer-contact">
        <a href="mailto:cathaysa.moreno101@alu.ulpgc.es?subject=Consulta sobre la web&body=Hola, me gustaría saber más sobre...">Link Email</a>
        <a href="https://wa.me/+34628193554?text=Hola!%20Vengo%20de%20tu%20web%20y%20tengo%20una%20duda%20sobre...">Link Phone</a>
        <div class="team-link">
            <a href="http://localhost:63342/Sportsync/src/html/OurTeam.html">Our Team</a>
        </div>
    </div>
</footer>

</body>
</html>