<header class="header-body">
    <div class="logo">
        <strong>Logo</strong>
    </div>

    <div class="app-name">SportSync</div>

    <div class="menu-icon" onclick="document.getElementById('mobile-menu-popup').classList.toggle('active')">&#9776;</div>

    <div id="mobile-menu-popup" class="header-popup-menu">
        <div class="popup-user-profile auth-only">
            <div class="popup-avatar"></div>
            <span>User</span>
        </div>

        <nav class="popup-nav">
            <button class="auth-only" onclick="window.location.href='ViewReservation.html'">View reservations</button>
            <button class="auth-only" onclick="window.location.href='EditProfile.html'">Edit Profile</button>
            <button class="auth-only" onclick="window.location.href='History.html'">History</button>

            <button id="auth-action-btn" class="logout-btn">Cargando...</button>
        </nav>
    </div>
</header>