<header class="header-body">
    <div class="logo">
        <img src="../assets/imagenes/logo_SportSync.png" alt="">
    </div>

    <div class="app-name">SportSync</div>

    <div class="menu-icon" onclick="document.getElementById('mobile-menu-popup').classList.toggle('active')">&#9776;</div>

</header>
<div id="mobile-menu-popup" class="header-popup-menu">
    <div class="popup-user-profile auth-only">
        <div class="popup-avatar"></div>
        <span>User</span>
    </div>

    <nav class="popup-nav">
        <button class="auth-only" onclick="window.location.href='ViewReservation.html'">Ver reservas</button>
        <button class="auth-only" onclick="window.location.href='EditProfile.html'">Editar Perfil</button>
        <button class="auth-only" onclick="window.location.href='History.html'">Historial</button>

        <button id="auth-action-btn" class="logout-btn">Cargando...</button>
    </nav>
</div>