html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('../assets/imagenes/imagen_principal_index.jpeg');
    background-size: cover;          /* Hace que la imagen cubra toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* Evita que la imagen se repita como mosaico */
    background-attachment: fixed;   /* Opcional: la imagen se queda quieta al hacer scroll */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    flex: 1;
    display: flex;
}

.login-content {
    text-align: center;
    width: 100%;

}

.login-content h1 {
    color: white;
    margin-bottom: 10px;
    margin-top: 200px;
    font-size: 2rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    width: 100%;
    scale: 1.5;
}

.btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #444;
    background-color: #e0e0e0;
    transition: background 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #d0d0d0;
}

