* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


h1 {
    margin-bottom: 50px;
    font-size: 1.8rem;
    color: #1a1a1a;
    font-weight: 700;
}


.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
    justify-items: center;
}

/* Botones  */
.btn {
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    background-color: #dcdcdc;
    color: #333;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 500;
    min-width: 170px;
    transition: background-color 0.2s ease, transform 0.1s;
}


.btn-user {
    grid-column: 1 / -1;
}


.btn:hover {
    background-color: #c0c0c0;
    transform: translateY(-2px);
}


@media (max-width: 450px) {
    .options {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}